<%-include("../partials/header.ejs")-%>

<div class="jumbotron forumjumbo" >
<h2>10th AWAAZ GLOBAL FORUM</h2>
<h3>on Treatment Procedures of Autism and Approval and Testing on the new app.</h3>
<h2>BERLIN,GERMANY OCTOBER 11-12th 2020</h2>
</div>
<div>
    <h4>Book your seats now!</h4>
    <h5>Registration closes on 12th September,2020.Only valid and verified members are given tickets.Don't Miss It! <br>
        To register give a call on the given number : </h5>
</div>
<div><h3>10th AWAAZ GLOBAL FORUM : on Treatment Procedures of Autism and Approval and Testing on the new device.</h3>
<p>The 10th Awaaz Global Forum on Research and Treatment Products for Speaking Disorders is taking place at the Westin Hotel 
    in Berlin,Germany
     on November 12-13, 2019.
The Awaaz Global Forum addresses issues related to the safety and supply of treatment products for speaking disorders,
 and brings together patient groups, regulators, representatives from industry, and not-for-profit fractionators, 
 as well as doctors who treat people with speaking disorders.</p>
</div>
    
<div>
    <h3>Latest Global Forum News :</h3>
    <hr>
    <div class="card1" style="width: 18rem;">
        <img src="https://www.health.gov.il/NewsAndEvents/SpokemanMesseges/PublishingImages/06122015_2_2.JPG" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Federal Ministry of Health to host this event.</h5>
          <p class="card-text">The Health minister will be lighting the candle to start the meeting followed by speeches 
              on the necessity of the issue Awaaz foundation takes care of.<br>
              The activities handled such as talks and discussions and app testing with some disabled people will be 
              tested throughout the event 
          </p>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="https://news.wfh.org/wp-content/uploads/inhibitors-header-310x200.gif" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Inhibitors: solving the problem</h5>
          <p class="card-text">Three experts on inhibitors in hemophilia opened the first session of the 9th Awaaz Global Forum held in Montreal on November 9, 2017. 
              The session, Inhibitors—solving the problem, was chaired by Marijke van den Berg, MD, PhD.

           <h6> Inhibitors—defining the problem </h6>
            
            David Lillicrap, MD, a researcher from the Clinical and Molecular Hemostasis Research Group, Queen’s University, Kingston, Canada, gave a brief overview of inhibitor epidemiology and management. Lillicrap reminded the audience that the management of people with hemophilia and inhibitors has changed very little since the discovery of inhibitors over 50 years ago. He added that even less has been done to prevent the occurrence of inhibitors. Nonetheless, Lillicrap identified several opportunities to advance inhibitor prevention and management, including:
            
            Improving laboratory monitoring of the factor VIII (FVIII) immune response, especially during early exposure to FVIII
            Designing clinical trials to assess the risk of inhibitor development by product type
            Introducing novel non-replacement therapies for people with inhibitors to improve therapeutic efficacy and quality of life
            Call to action—coordinated prevention in previously untreated patients (PUPs) and intervention in patients with inhibitors</p>
        </div>
        <a href="#" class="btn btn-primary">Read More</a>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="https://news.wfh.org/wp-content/uploads/Global-forum-header-1-310x200.gif" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Now available: proceedings of the 10th Awaaz Global Forum</h5>
          <p class="card-text">Sessions at the Global Forum focused on the revolutionary bleeding disorder therapies in the development pipeline, or already in some markets, including extended half-life factor products, gene transfer therapies, and novel bypassing agents. In addition to research, scientific evidence and outcomes, particular attention was given to the uncharted challenges presented by these breakthrough therapies, such as how to minimize safety risks during clinical trials; define core outcomes and trough levels with extended half-life factor products; define efficacy in gene therapy trials; and bridge the gap between state-of-the-art science and the realities of healthcare system fiscal constraints so that patients have access to the best medicines.</p>
          <a href="#" class="btn btn-primary">Read More</a>
        </div>
      </div>
</div>
<%-include("../partials/footer.ejs")-%>