<%-include("../partials/header.ejs")-%>

<div class="jumbotron">
    <h1>LARGEST WORLD <br> MEETING FOR THE SPEECH DISORDER THERAPY COMMUNITY.</h1>
    <h4>Jaipur,Rajasthan July,12-15</h4>
</div>
<div class="container-fluid congress">
    <div class="jumbotron j2">
        <h3>The Awaaz World Congress 2019 in numbers:  </h3>
        <div class="jumbotron j3"><h1>2000+</h1><h4>Delegates</h4></div>
        <div class="jumbotron j3"><h1>24+</h1><h4>Sessions</h4></div>
            <div class="jumbotron j3"><h1>5,658</h1><h4>Educational Resources</h4></div>
            <div class="jumbotron j3"><h1>11+</h1><h4>Contributors and Sponsors</h4></div>
            <div class="jumbotron j3"><h1>105,345+</h1><h4>App Page views</h4></div>
        </div>
    </div>
</div>
<section>
    <div>
        <h1>Leading international treaters to speak at Congress</h1>
        <hr>
        <div class="d-flex justify-content-space-around">
            <img src="https://news.wfh.org/wp-content/uploads/International-treaters-header-620x400.png" alt="">
        </div>
        <div>
            <p>The Awaaz Foundation 2020 World Congress will feature many leading international speech disorder treaters.
                These key opinions leaders will be at Congress to discuss the current—and future—treatments what will help
                 improve the quality of life of people in the global speech disorders community.
                Here are brief profiles on several speakers who will be taking part in the Awaaz 2020 World Congress
                 in Jaipur,Rajasthan from July 12 to 15, 2020.</p></div>
<div>
    <hr>
<h5> Name: Robert Klamroth, MD</h5>

<h5>Country: Germany </h5>
<p>
Positions: Head of the Department of Internal Medicine Angiology and Coagulation Disorders and Director of the 
Comprehensive Care Hemophilia Treatment Centre and the Hemostasis and Thrombosis Unit at the Vivantes Hospital in
 Friedrichshain, Berlin, Germany.<p>

<h6>Awaaz 2020 Congress speaker topic: Redefining prophylaxis in the modern era.</h6>

<h5>Bio:</h5>

<p>Robert Klamroth holds specialist training degrees in internal medicine, angiology, and hemostaseology.<br>
 He is a member of national and international societies in the field of angiology, thrombosis and hemostasis, 
 and serves as speaker of the hemophilia commission of the German Society of Thrombosis and Haemostasis.<br>
  He has authored or co-authored peer-reviewed publications, review articles and book chapters.</p>
<hr>
<h5> Name: Sarah H. O’Brien, MD</h5>

<h5>Country: India </h5>
<p>
Positions: Associate Professor, Pediatric Hematology/Oncology and Director of Experimental Therapeutics,<br>
 Section of Hematology/Oncology/Bone Marrow Transplantation (BMT), Nationwide Children’s Hospital, Columbus, U.S.A<p>

<h6>Awaaz 2020 Congress speaker topic: Screening, practical aspects of identification</h6>

<h5>Bio:</h5>

<p>Sarah H. O’Brien’s clinical and research interests include pediatric thrombosis and thromboprophylaxis, the evaluation
     and diagnosis of mild bleeding disorders, and the intersections between hematology and women’s health. <br>
     She also leads a multidisciplinary hematology and adolescent gynecology clinic at Nationwide Children’s.
      As a health services researcher, O’Brien has a particular interest in the use of large administrative databases, <br>
      decision analysis and cost effectiveness analysis to further care. She attended the University of Pittsburgh School
       of Medicine and received her residency and fellowship training from the Children’s Hospital of Pittsburgh of the
        University of Pittsburgh Medical Center (UPMC).
     O’Brien has been voted as a “Best Doctor in America”.</p>
</div></div>
</section>



<%-include("../partials/footer.ejs")-%>
