<%-include("../partials/header.ejs")-%>

<section class="h1 wsd">
  <div class="background-image" style="background-image: url('https://i0.wp.com/frontier.engineersaustralia.org.au/wp-content/uploads/iStock-628483496.jpg?ssl=1');"></div>
  <div class="wsd0">
     <h1>Awaaz Celebrates World Speech Day 2019</h1>
     <h2>March 15th 2019 at New Delhi Head Office</h2>
  </div>
  </section>



<section id="wsd" class="wsd">
  <div class="container">
    <h2 id="wsdh2">World Speech Day 2020 - Awaaz Foundations </h2>
  <p>Awaaz takes pride in socializing and providing help to  theleast visited problem of human ability-<strong>To Speak</strong>
  on the auspicious day of March 15th every year and celebrates World Speech Day.
  </p>
  <h3 id="wsdh2">OUTREACH AND IDENTIFICATION</h3>
  <p>This year, the Awaaz Foundation is focusing on reaching out and identifying new members of the vocal disorders
     community. For many years, the Awaaz has supported outreach projects in different countries and conducted educational
      events for both lay and health care professionals in conjunction with our national member organizations (NMOs).

    The Awaaz2020 campaign will feature examples of Awaaz outreach initiatives such as organizing regional workshops,
     raising awareness of speaking through media coverage or training health professionals and collecting data.
     It will combine these examples with submissions from our community about outreach efforts in their own regions or 
     ideas about what would be helpful for future initiatives.<hr>
    
   <p> This landmark day also helps to illustrate the importance of the Awaaz Treatment program- an important endeavour for
     the Awaaz that provides
     a range of integrated care development training programs to ensure the local infrastructure and medical expertise are
      available to optimize and appropriately use donated products.
    
    Stay tuned as we take together the first step to care!
   </p>
    </p>
    <h3 id="wsdh2">Launching the App with new features on 15th March 2020.</h3>
    <p>The App will be launched with some new features like:
      For more details visit <a href="/ourwork/ourapp">this</a> link.
      Stay tuned for something very helpful and adorable to the community!
    </p>

  </div>
</section>
<section id="wsd2">
  <hr>
  <div class="container">
  <h2 id="wsdh2" class="text-center">Images from previous year:</h2>
  <div class="row">
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6 mt-5"><div class="thumbnail img-responsive"><img title="conference" src="https://scvnews.com/wp-content/uploads/2019/03/signal-world-speech-day-room-caleb-lunetta-031619-556x417.jpg"></div></div>
		<div class="col-lg-4 col-md-6 col-sm-6 col-xs-6 mt-5"><div class="thumbnail img-responsive"><img title="award to Dr Akhil Verma" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTa6H4kOte626hs0HWam1kmcb4nDj5u5AJqZbNr5lyk6A8O4R-J&s"></div></div>
		<div class="col-lg-4 col-md-6 col-sm-6 col-xs-6 mt-5"><div class="thumbnail img-responsive"><img title="teaching children" src="https://the.ismaili/sites/ismaili/files/styles/carousel_banner/public/img_6422.jpg?itok=E1zlnv7K"></div></div>
		<div class="col-lg-4 col-md-6 col-sm-6 col-xs-6 mt-5"><div class="thumbnail img-responsive"><img title="Augmented Reality glasses distribution" src="https://c3.iggcdn.com/indiegogo-media-prod-cld/image/upload/c_fill,w_695,g_auto,q_auto,dpr_2.6,f_auto,h_460/c5d792mgu5am3ezruxzo"></div></div>
		<div class="col-lg-4 col-md-6 col-sm-6 col-xs-6 mt-5"><div class="thumbnail img-responsive"><img title="laryngoscopy" src="https://www.chicagovoicecare.com/images/general/laryngoscopy.jpg"></div></div>
		<div class="col-lg-4 col-md-6 col-sm-6 col-xs-6 mt-5"><div class="thumbnail img-responsive"><img title="operation"src="https://i.ytimg.com/vi/QiiZgRBIpNs/hqdefault.jpg"></div></div>
  </div>
</div>
</section>



<%-include("../partials/footer.ejs")-%>
