<div id="allevent">
<div class="container container-fluid">
    <h1 class="text-center animated fadeInUp bottomh1">Events </h1>
    <hr id="hr1">
    <div class="row landevents m-4">
        <div class="animated fadeInLeft le1 col-lg-4 col-sm-6 col-xs-6 mt-3 img-responsive landevent123">
            <a href="/events/WSD"><img src="https://pbs.twimg.com/profile_images/639383564631453697/ue4j1NjS.jpg" alt="">
            <div class="centered text-center c1 ">World Speech Day</div></a>
            </div>
            <div class="animated fadeInLeft le2 col-lg-4 col-sm-6 col-xs-6 mt-3 img-responsive landevent123 ">
                <a href="/events/global-forum"><img src="https://mocdn.gs1.org/sites/default/files/styles/three_fourth_width/public/2019programme_0.jpg" alt="">
                <div class="centered text-center c1">10th Global Forum</div></a>
            </div>
         <div class="animated fadeInLeft le3 col-lg-4 col-sm-6 col-xs-6 mt-3 img-responsive landevent123">
            <a href="/events/congress"><img  src="https://www.hotelsorollacentro.com/wp-content/uploads/2018/05/congreso-medicina-familiar-familia-valencia-hotel-sorolla-centro-1030x686.jpg" alt="">
            <div class="centered text-center c1">National Congress</div></a>
        </div>

    </div>
</div>
</div>
<div class="don">
<div class="container container-fluid">
 <h1 class="text-center bottomh1 animated fadeInUp" style="padding-top: 8px;color: whitesmoke;">You Can Make a Difference</h1><hr id="hr1">
<div class="row" id="vol-don" >
   
<div class="landsup animated fadeInLeft col-lg-6 col-sm-12 ">
   <img  style="width:90%;padding-top: 15px;"src="https://images.unsplash.com/photo-1560252829-804f1aedf1be?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80" alt="">
<div class="d-flex-col  justify-content-space-around align-items-center ls1">
    <h1 class="bottomh1">BRING A CHANGE</h1>
    <a href="/support/volunteer" id="careerbtn1">Volunteer Now</a>
</div>
</div>


<div class="landsup  animated fadeInRight col-lg-6 col-sm-12 ">
    <img style="width:90%; padding-top: 15px;" src="https://images.unsplash.com/photo-1532629345422-7515f3d16bb6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80" alt="">
 <div class="d-flex-col justify-content-space-around align-items-center ls1">
     <h1 class="bottomh1">BE A LIFE LINE</h1>
     <a href="/support/volunteer" id="careerbtn1">Donate Now</a>
 </div>
 </div>
</div>
</div>
</div>




   <div id="part">
    <div class="container container-fluid  landingpartner">
        <h1 class="text-center bottomh1 animated fadeInUp">Our Trusted Partners</h1> <hr id="hr1">
        <div class="partnericons m-5 animated fadeInLeft">
            <i class="fa fak fa-3x  fa-openid"></i>
            <i class="fa fak fa-amazon" style="color: #ff9900;"></i>
            <i class="fa fak fa-android" style="color: #a4c639;"></i>
            <i class="fa fak fa-3x fa-opera"></i>
            <i class="fa fak fa-facebook-square" style="color: #3b5998;"></i>
            <i class="fa fak fa-3x fa-optin-monster" style="color: #83c11f;"></i>
            <i class="fa fak fa-3x fa-pagelines" style="color: #000;"></i>
        </div>
        <div class="partnericons animated fadeInRight">
            <i class="fa fak fa-3x fa-paypal"></i>
            <i class="fa fak fa-3x fa-renren" style="color: #005EAC;"></i>
            <i class="fa fak fa-3x fa-pied-piper" style="color:  #2f9f46;"></i>
            <i class="fa fak fa-pinterest-square"></i>
            <i class="fa fak fa-3x fa-ra"></i>
            <i class="fa fak fa-3x fa-reddit"></i>
            <i class="fa fak fa-3x fa-safari" style="color: #1B88CA;"></i>
        </div>
    </div>
     </div>   

