<div class="container-fluid mt-5">
    <h1 style="color: rgb(53, 43, 43);" class="text-center">Events : </h1>
    <hr id="hr1">
    <div class="row landevents m-4">
        <div class="animated fadeInLeft le1 col-lg-4 col-sm-6 col-xs-6 mt-3 img-responsive landevent123">
            <a href="/events/WSD"><img src="https://pbs.twimg.com/profile_images/639383564631453697/ue4j1NjS.jpg" alt="">
            <div class="centered text-center c1 ">World Speech Day</div></a>
            </div>
            <div class="animated fadeInLeft le2 col-lg-4 col-sm-6 col-xs-6 mt-3 img-responsive landevent123 ">
                <a href="/events/global-forum"><img src="https://mocdn.gs1.org/sites/default/files/styles/three_fourth_width/public/2019programme_0.jpg" alt="">
                <div class="centered text-center c1">10th Global Forum</div></a>
            </div>
         <div class="animated fadeInLeft le3 col-lg-4 col-sm-6 col-xs-6 mt-3 img-responsive landevent123">
            <a href="/events/congress"><img  src="https://www.hotelsorollacentro.com/wp-content/uploads/2018/05/congreso-medicina-familiar-familia-valencia-hotel-sorolla-centro-1030x686.jpg" alt=""></a>
            <div class="centered text-center c1">National Congress</div>
        </div>

    </div>
</div>
  

<div class="container-fluid animated fadeInUp landsupp" style="animation-duration: 1.5s;">
    <div class="landvol1 col-lg-6 col-sm-12">
        <h2>Volunteer</h2>
        <a href="/support/volunteer"></a>
    </div>
    <div class="landvol2 col-sm-12 col-lg-6 mr-5 ">
        <h2>Donate</h2>
        <a href="/support/payment"></a>
    </div>
   

</div>

   
    <div class="container-fluid landingpartner">
        <h1 class="text-center">Our Trusted Partners</h1> <hr id="hr1">
        <div class="partnericons m-5 animated fadeInUp">
            <i class="fa fak fa-3x  fa-openid"></i>
            <i class="fa fak fa-amazon" style="color: #ff9900;"></i>
            <i class="fa fak fa-android" style="color: #a4c639;"></i>
            <i class="fa fak fa-3x fa-opera"></i>
            <i class="fa fak fa-facebook-square" style="color: #3b5998;"></i>
            <i class="fa fak fa-3x fa-optin-monster" style="color: #83c11f;"></i>
            <i class="fa fak fa-3x fa-pagelines" style="color: #000;"></i>
        </div>
        <div class="partnericons animated fadeInUp">
            <i class="fa fak fa-3x fa-paypal"></i>
            <i class="fa fak fa-3x fa-renren" style="color: #005EAC;"></i>
            <i class="fa fak fa-3x fa-pied-piper" style="color:  #2f9f46;"></i>
            <i class="fa fak fa-pinterest-square"></i>
            <i class="fa fak fa-3x fa-ra"></i>
            <i class="fa fak fa-3x fa-reddit"></i>
            <i class="fa fak fa-3x fa-safari" style="color: #1B88CA;"></i>
        </div>
    </div>
        

