<%-include("./partials/header.ejs")-%>

<nav class="navbar navbar-expand-lg bg-dark justify-content-center">
<h3 style="color: #fff;">
    Contact Us Here: 
</h3>
</nav>
<section id="headcentre">
  <div>
    <h2>We look forward to hearing from you!</h2>
    <h5>Please leave your opinion or queries here.<br>We will try to respond back as soon as possible.</h5>
    <form action="POST">
    <div>
    <input type="text" required placeholder="First Name">
    <input type="text" required placeholder="Last Name">
    </div>
    <div><input type="email" required placeholder="email address"></div>
    <div><input type="text" placeholder="Company"></div>
    <div><textarea style="width: 400px;" name="message" id="message" placeholder="Your message"></textarea></div>
    <input type="submit"> 
    </form>
 </div>

<div>
  <div>
   <h4>Find Us On Social Media:</h4>
   <ul>
    <a href="#"><i class="fa fa-twitter-square fa-3x"></i></a>
    <a href="https://www.facebook.com/OfficialTHENX/"><i class="fa fa-facebook-square fa-3x"></i></a>
    <a href="#"><i class="fa fa-instagram fa-3x"></i></a>
    <a href="https://www.youtube.com/user/TheMiamiTrainer"><i class="fa fa-linkedin-square fa-3x" aria-hidden="true"></i></a> 
   </ul>
  </div>
</div>
</section>


<section><div>
    <h2>Our Centers</h2>


<div class="d-flex justify-content-space around align-items-center">
   <div> <h4>Awaaz Foundation(Head Centre): New Delhi</h4>
<img src="https://image.iol.co.za/image/1/process/620x349?source=https://inm-baobab-prod-eu-west-1.s3.amazonaws.com/public/inm/media/image/96417376.JPG&operation=CROP&offset=0x142&resize=2008x1127" alt=""></<img>
</div>  
<div>
        <h4>Address Head Centre:</h4>
        <p>Opposite House No. 828<br> Type I quarters <br>Sector 23, H.K. Puram <br> Delhi-110022,India</p>
      </div>
      <div>
        <h4><i class="fa fa-envelope fa-2x"></i> <i class="fas fa-2x fa-phone"></i></h4>
      </div>
</div>
<div>
         <div> <h4>Awaaz Distribution Centre: Mumbai</h4>
          <div><img src="https://rdfindia.org/wp-content/uploads/2010/12/rollakal-school-building.jpg" alt=""></div>
          <div>
          <h4>Address Mumbai Centre:</h4>
          <p>24, Nand Deep Industrial Estate, <br>Opposite VITS Hotel, Ram Krishna Mandir Road,<br> Andheri East, Mumbai,<br> Maharashtra 400059</p>
          </div>
          <div>
          <h4><i class="fa fa-envelope fa-2x"></i> <i class="fas fa-2x fa-phone"></i></h4>
         </div>
</div>
      <h4>Awaaz Foundation Caring Centre: Bangalore</h4>
      <div><img src="https://iwpr.net/sites/default/files/styles/story_focal_590/public/images/2015_Story_Images/tajikistan-parliament_building_dushanbe-rjruiziii-wikimedia.jpg?itok=meWnbbGq" alt=""></div>
      <div>
      <h4>Address Bangalore Centre:</h4>
      <p>24, Nand Deep Industrial Estate, <br>Opposite VITS Hotel, Ram Krishna Mandir Road,<br> Andheri East, Mumbai,<br> Maharashtra 400059</p>
      </div>
      <div>
        <h4><i class="fa fa-envelope fa-2x"></i> <i class="fas fa-2x fa-phone"></i></h4>
       </div>

    </div></section>





<%-include("./partials/footer.ejs")-%>

