<%-include("./partials/header.ejs")-%>

<nav class="navbar navbar-expand-lg bg-dark justify-content-center">
<h3 style="color: #fff;">
    Contact Us Here: 
</h3>
</nav>

  
<section id="full">
<section id="headcentre">
  <div>
    <h1>We look forward to hearing from you!</h1>
    <h5>Please leave your opinion or queries here.<br>We will try to respond back as soon as possible.</h5>
    <form action="POST">
      <div>
      <div class="form-group">
        <input type="text" class="form-control first" required placeholder="First Name">
      </div>
      <div class="form-group">
        <input type="text" class="form-control last" required placeholder="Last Name">
      </div>
      </div>
      <div class="form-group">
        <input type="email" class="form-control mail" required placeholder="Email address">
      </div>
      <div class="form-group">
        <input type="text" class="form-control mail"placeholder="Company">
      </div>
      <div class="form-group">
        <textarea class="form-control" required  name="message" id="message" placeholder="Your message"></textarea>
      </div>
      <button type="submit" class="btn btn-danger">Submit</button>
    </form>
 </div>

<div>
  <div>
   <h4>Find Us On Social Media:</h4>
   <ul>
    <a href="#"><i class="fa fa-twitter-square fa-3x"></i></a>
    <a href="https://www.facebook.com/OfficialTHENX/"><i class="fa fa-facebook-square fa-3x"></i></a>
    <a href="#"><i class="fa fa-instagram fa-3x"></i></a>
    <a href="https://www.youtube.com/user/TheMiamiTrainer"><i class="fa fa-linkedin-square fa-3x" aria-hidden="true"></i></a> 
   </ul>
  </div>
</div>
</section>


<section id="centers">
<h1 id="h">Our Centers :</h1>
<hr>
  <div>
    <div class="c mt-3">
    <div class="col-lg-4 img-responsive volunbutton">
    <img src="https://static.workaway.info/gfx/foto/8/6/5/6/4/865645593827/thumb/865645593827_157583062902488.jpg" alt="">
    <div class="centered ">Awaaz Foundation Head : New Delhi</div>
   </div> <i class="fas fa-3x fa-arrows-alt-h"></i>
   <div>
        <h4>Address Head Centre:</h4>
        <p>Opposite House No. 828<br> Type I quarters <br>Sector 23, H.K. Puram <br> Delhi-110022,India
          <br><i class="fa fa-envelope"></i> awaaz@gmail.com <br><i class="fas fa-phone"></i>
          +91-882836456,0642-253698
        </p>
      </div>
</div>
  </div>
  <hr>
<div>
<div class="c mt-3">
  <div class="col-lg-4 img-responsive volunbutton">
    <img src="https://inhabitat.com/wp-content/blogs.dir/1/files/2014/11/TAMassociati-Paediatric-Centre2.jpg" alt="">
    <div class="centered ">Awaaz Distribution Centre : Mumbai</div>
   </div> 
   <i class="fas fa-3x fa-arrows-alt-h"></i>
  <div>
        <h4>Address Mumbai Centre:</h4>
        <p>24, Nand Deep Industrial Estate, <br>Opposite VITS Hotel, R.K.M. Road,<br> Andheri East, Mumbai,<br>
           Maharashtra 400059
           <br><i class="fa fa-envelope"></i> awaazm@gmail.com <br><i class="fas  fa-phone"></i>
           +91-882836454,0642-253699
          </p>
      </div>
</div>
</div>
<hr>
<div>

<div class="c mt-3">
  <div class="col-lg-4 img-responsive volunbutton">
    <img src="https://image.iol.co.za/image/1/process/620x349?source=https://inm-baobab-prod-eu-west-1.s3.amazonaws.com/public/inm/media/image/96417376.JPG&operation=CROP&offset=0x142&resize=2008x1127" alt="">
    <div class="centered ">Awaaz Foundation Care: Bangalaore</div>
</div> 
<i class="fas fa-3x fa-arrows-alt-h"></i>
<div>
        <h4>Address Bangalore Centre:</h4>
        <p>C/O - Social Alpha,14th Main Rd,<br> Teacher's Colony, 1st Sector,<br> HSR Layout, Bengaluru,<br>
           Karnataka 560034 <br><i class="fa fa-envelope"></i> awaazcare@gmail.com <br><i class="fas fa-phone"></i>
          +91-882836458,0642-253700
          </p>
      </div>
    </div>
    </div>
</section>
</section>



<%-include("./partials/footer.ejs")-%>

