<%-include("./partials/header.ejs")-%>

<nav class="navbar navbar-expand-lg bg-dark justify-content-center">
<h3 style="color: #fff;">
    Contact Us Here: 
</h3>
</nav>

  
<section id="full">
<section id="headcentre">
  <div>
    <h1 style="padding: 10px;">We look forward to hearing from you!</h1>
  <div id="redirect" class="text-center"> <a href="/contacts"><i class="fas fa-arrow-left"></i> Return to the form list.</a> </div>
    <h3 style="padding: 10px;">Thank you for your interest in the Awaaz Foundation. <br>
        Your information was successfully received and will be processed shortly.</h3>
</section>
</section>



<%-include("./partials/footer.ejs")-%>

