<%- include('partials/header.ejs') -%>



<section class="landevents">
<h2>Events </h2>
<div class="col-lg-4">
</div>
</section>













    <section class="ourpartners">
        <div class="landingpartner">
            <div class="partnericons">
<i class="fa fak fa-3x  fa-openid"></i>
<i class="fa fak fa-amazon" style="color: #ff9900;"></i>
<i class="fa fak fa-android" style="color: #a4c639;"></i>
<i class="fa fak fa-3x fa-opera"></i>
<i class="fa fak fa-facebook-square" style="color: #3b5998;"></i>
<i class="fa fak fa-3x fa-optin-monster" style="color: #83c11f;"></i>
<i class="fa fak fa-3x fa-pagelines" style="color: #000;"></i>
</div>
<div class="partnericons">
<i class="fa fak fa-3x fa-paypal"></i>
<i class="fa fak fa-3x fa-renren" style="color: #005EAC;"></i>
<i class="fa fak fa-3x fa-pied-piper" style="color:  #2f9f46;"></i>
<i class="fa fak fa-pinterest-square"></i>
<i class="fa fak fa-3x fa-ra"></i>
<i class="fa fak fa-3x fa-reddit"></i>
<i class="fa fak fa-3x fa-safari" style="color: #1B88CA;"></i>
</div>
</div>
    </section>
<%- include('partials/footer.ejs')-%>