<%- include('partials/header.ejs') -%>
    <section>fa-3x 
<i class="fa fa-3x fa-opencart"></i>
<i class="fa fa-3x fa-openid"></i>
<i class="fa fa-3x fa-opera"></i>
<i class="fa fa-3x fa-optin-monster"></i>
<i class="fa fa-3x fa-pagelines"></i>
<i class="fa fa-3x fa-paypal"></i>
<i class="fa fa-3x fa-pied-piper"></i>
<i class="fa fa-3x fa-pinterest-p"></i>
<i class="fa fa-3x fa-qq"></i>
<i class="fa fa-3x fa-ra"></i>
<i class="fa fa-3x fa-rebel"></i>
<i class="fa fa-3x fa-reddit"></i>
<i class="fa fa-3x fa-renren"></i>
<i class="fa fa-3x fa-safari"></i>
    </section>
<%- include('partials/footer.ejs')-%>