<div id="header-image">
    <img src="https://images.unsplash.com/photo-1569680093230-b1b3e769cff0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="">
    <span class="animated fadeInDown"> Gift A Smile</span>
    <a href="support/payment" class="aboutus-button animated fadeInDown"> donate</a>
</div>

<div id="aboutus">
<div class="container container-fluid">
    <div class="container">
        <h1 class="text-center">About us</h1>
        <p class="text-center" style="padding-left:10%; padding-right:10%; opacity: 0.7; word-spacing: 4px;">
            The Awaaz is an international not-for-profit organization that provides global leadership to save and improve lives for people with speech disorder. Established in india in 1999, the Awaaz works with national member organizations in 12 countries as well as through a network of international volunteers and healthcare providers to improve and sustain care for those living with speech impairment around the world.
        </p>

        <div class="row">
            <div class="col-lg-4">
                <div class="aboutus-col">
                    <img src="https://i2.wp.com/meskp.com/wp-content/uploads/2020/01/cropped-Volunteer-for-People.jpg?fit=200%2C200&ssl=1" alt="">
                    <a class="aboutus-button" href="/aboutus/vision">our Vision</a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="aboutus-col">
                    <img src="https://i1.wp.com/meskp.com/wp-content/uploads/2020/01/cropped-Start-Changing-Lives.jpg?fit=200%2C200&ssl=1" alt="">
                    <a class="aboutus-button" href="/aboutus/speech">speech disorders</a>
                    
                </div>
            </div>
            <div class="col-lg-4">
                <div class="aboutus-col">
                    <img src="https://www.facto-mania.com/wp-content/uploads/2019/08/smartphone-1184883_960_720.png" alt="">
                    <a class="aboutus-button" href="/ourwork/ourapp">our app</a>

                </div>
            </div>
        </div>
    </div>

</div>
</div>

<div id="ourwork">
    <div class="container container-fluid">
        <h1 class="text-center" style="font-family: 'Zhi Mang Xing', cursive;
        font-family: 'Indie Flower', cursive; color: aliceblue;">Our Services</h1>
        <div class="row">
            <div class="col-lg-3">
                <div class="ourwork-col">
                    <img src="http://suniye.in/wp-content/uploads/2017/07/services1-e1496416033186.jpg" alt="">
                    <strong> <a style="color: aliceblue;" href="ourwork/training">Counsel</a></strong>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="ourwork-col">
                    <img src="http://suniye.in/wp-content/uploads/2017/07/services2-e1496415942145.jpg" alt="">
                    <strong><a style="color: aliceblue;" href="ourwork/training">Assess</a></strong>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="ourwork-col">
                    <img src="http://suniye.in/wp-content/uploads/2017/07/services4-e1496415403597.png" alt="">
                    <strong><a style="color: aliceblue;" href="ourwork/training">Develop</a></strong>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="ourwork-col">
                    <img src="http://suniye.in/wp-content/uploads/2017/07/services3-e1496415870528.jpg" alt="">
                    <strong><a style="color: aliceblue;" href="ourwork/training">Monitor</a></strong>
                </div>
            </div>
        </div>
    </div>
</div>