<%- include("../partials/header")-%>

<div class="ourapp-head">
    <img src="https://images.unsplash.com/photo-1489507423881-4df2d5eb5d06?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="">
    <div class="ourapp-centered">
        <h1 style="font-weight: 900;">Greater independence through voice</h1>
        <h4>leveraging powerfull new speech recognition technology to support spoken communication and increase independence for people of any ability.building deeper human connection and creating more inclusive and accessible communities </h4>
    </div>
</div>
<div class="text-center" style="margin-top: 4rem; margin-bottom: 4rem; opacity: 0.4;">
    <h1>The Talkitt App helps you to be understood</h1>
</div>

<div class="ourapp-row">
    <div class="ourapp-blocks" style="margin: 0;">
        <p>
            Imagine waking up one morning having lost your ability to express your wants and needs by voice. Most of us take for granted our ability to verbally communicate our feelings, ideas, and desires. However, clear vocal communication is challenging for over 100 million people worldwide.
            There is an incredible, and simultaneously unaddressed, need for 21st century solutions that restore communication channels for all individuals. In the US and Europe, a combined 10.4 million people suffer from speech disabilities, and 8% of all children suffer from a consistent or temporary communications disorder
        </p>
    </div>
    <div class="ourapp-blocks" style="margin: 0;">
        <img id="img-1" src="http://www.voiceitt.com/uploads/1/1/8/2/118226877/mother-and-child-movie_orig.jpg" alt="">
    </div>
</div>
<div class="ourapp-row">
        <div class="ourapp-blocks" style="margin: 0;">
            <img id="img-2" src="https://www.philips.com/consumerfiles/newscenter/main/shared/assets/images/PR-IMG/VoiceITT-lrg.JPG" alt="">
        </div>
        <div class="ourapp-blocks" style="margin: 0;">
            <p>
            Our core mission is to make voice recognition technology truly accessible to everyone. Our principal aims are inclusion and independence, and we are committed to helping children and adults around the world communicate freely, spontaneously, and naturally by voice. Through a hybrid of unique statistical modeling and machine learning, Voiceitt will enable tens of millions of people to overcome communication barriers and help them connect with the world. 
            </p>
        </div>
</div>
<div id="ourapp-section1">
        ​<p>   
            Awaaz is building speech recognition technology, designed to understand non-standard and dysarthric speech.
            Our core mobile application — already in closed beta testing — is a hands-free voice recognition app that enables face-to-face, real-time communication with friends, family, and strangers. In addition, our technology is designed for integration into smart homes, Assistive and Augmentative Communications devices, and smart speakers. 
        </p>

</div>

<%- include("../partials/footer")-%>
