<%- include("../partials/header")-%>

<h1>The Talkitt App</h1>
<h4>Why we are developing the app</h4>
<p>
    Imagine waking up one morning having lost your ability to express your wants and needs by voice. Most of us take for granted our ability to verbally communicate our feelings, ideas, and desires. However, clear vocal communication is challenging for over 100 million people worldwide.
</p>
<p>
    There is an incredible, and simultaneously unaddressed, need for 21st century solutions that restore communication channels for all individuals. In the US and Europe, a combined 10.4 million people suffer from speech disabilities, and 8% of all children suffer from a consistent or temporary communications disorder
</p>
<p></p>
    Our core mission is to make voice recognition technology truly accessible to everyone. Our principal aims are inclusion and independence, and we are committed to helping children and adults around the world communicate freely, spontaneously, and naturally by voice. Through a hybrid of unique statistical modeling and machine learning, Voiceitt will enable tens of millions of people to overcome communication barriers and help them connect with the world. 
</p>
 ​<p>   
    Awaaz is building speech recognition technology, designed to understand non-standard and dysarthric speech.
    Our core mobile application — already in closed beta testing — is a hands-free voice recognition app that enables face-to-face, real-time communication with friends, family, and strangers. In addition, our technology is designed for integration into smart homes, Assistive and Augmentative Communications devices, and smart speakers. 

</p>
<img src="http://www.voiceitt.com/uploads/1/1/8/2/118226877/published/voiceitt-on-phone.png?1520753486">
<img src="http://www.voiceitt.com/uploads/1/1/8/2/118226877/screen-shot-2018-03-10-at-6-08-04-pm_orig.png">

<%- include("../partials/footer")-%>