<%- include("../partials/header")-%>
<div id="training-body1">
<div id="training-head">
    <h1 class="text-center"style="font-weight:500;">
        Our services 
    </h1>
    <p class="text-center">
        Children are the future of a nation. For an emerging country like India, development of underprivileged children holds the key to the progress of the nation itself, and their education is the cornerstone of this progress
    </p>
</div>
<div id="training-row">
    <div class="training-col animated fadeInLeft">
            <img src="http://suniye.in/wp-content/uploads/2017/07/services1-e1496416033186.jpg">

            <h4 style="color: rgb(153, 50, 50);">
                Counsel
            </h4>
            <p>
                Counsel the parents on how to tackle the problems effectively
                Through home visits counsel  other family members to create awareness on their role in child’s progress.
            </p>
    </div>
    <div class="training-col animated fadeInLeft">
            <img src="http://suniye.in/wp-content/uploads/2017/07/services2-e1496415942145.jpg" alt="">
            <h4 style="color: rgb(153, 50, 50);">
                Assess
            </h4>
            <p>
                Assessing the child for speech impairment through different diagnosis tests.
                
                Basis the assessment help fit the child to the level off imapairment he/she suffers from and then provide proper treatment.
            </p>
    </div>
    <div class="training-col animated fadeInRight">

            <img src="http://suniye.in/wp-content/uploads/2017/07/services4-e1496415403597.png" alt="">

            <h4 style="color: rgb(153, 50, 50);">
                Develop
            </h4>
            <p>
                Teach the children spoken and written language, social responsibilities, community living, general knowledge and subjects needed to go to a regular school.
                For the child suffering of permanent speech loss we provide them with sign language courses and also
                We provide them with The talkitt app and other assistive technologies. 
            </p>
    </div>
    <div class="training-col animated fadeInRight">

            <img src="http://suniye.in/wp-content/uploads/2017/07/services3-e1496415870528.jpg" alt="">
            <h4 style="color: rgb(153, 50, 50);"">
                Monitor
            </h4>
            <p>
                Help parents with the admissions of child in normal school
                Interact with school authorities to monitor the progress of the child.
                Provide sessions in school for further monitoring of overall progress of the child.
            </p>

    </div>
</div>
</div>

<div id="training-body2">
<div class="container" style="background-color: oldlace;">
    <h2 class="text-center" style="padding-top: 2rem; margin-bottom: 2rem; opacity: 0.4;">
        Education
        </h2>

    <div class="ourapp-row">

        <div class="ourapp-blocks">
                <p>
                    Speech impaired children are often neglected children in one sense or another. Because they are speech impaired, they have difficulty getting admissions to schools even if the education in government schools is free; this is because sometimes some cases of speech-impaired children are not able to follow and understand the teachers and are therefore, not in a position to keep up with studies.

                    Our effort is to give them a safe, friendly, and happy environment. Lots of sunshine. A hot meal. Special nourishment such as milk and fruits. Crafts and games to relax and develop the mind and body. And dedicated studies.

                    As some cases of speech impairment often suffers from mental retardness and such cases need special care and cannot go to regular schools and thus we provide them such education where they are taught according to learning pattern.
                    
                </p>
        </div>

        <div class="ourapp-blocks" id="training-img-1">
            <img src="http://www.ngo-darshan.org/assets/img/courses.jpg" alt="">
        </div>    

    </div>

    <h2 class="text-center" style="margin-top: 2rem; margin-bottom: 2rem; opacity: 0.4;">
        Speech therapies sessions
    </h2>

    <div class="ourapp-row">

        <div class="ourapp-blocks" id="training-img-2" >
            <img src="https://media.gettyimages.com/photos/individual-primary-education-teacher-and-pupil-at-reading-lesson-picture-id1015878602?s=612x612" alt="">
        </div>

        <div class="ourapp-blocks">
                <p>
                    for some mild cases of speech impairment we can improve upon their speech by providing them speech therapy sessions in schools.
                    
                    The main goal of speech therapy is to improve communication. Some of the goals of speech therapy might include: Improving communication between the brain and the body through visual and auditory aids such as mirrors and tape recorders. Improving fluency through breathing exercises.
                </p>
        </div>

    </div>

    <h2 class="text-center" style="margin-top: 2rem; margin-bottom: 2rem; opacity: 0.4;">
        counselling
    </h2>

    <div  class="ourapp-row">

        <div class="ourapp-blocks">
                <p>
                    For the much needed awareness and enlightment for the speech impaired we provide parents with counselling for their children, help them give confidence of their child future and guide them to choose right schools and courses.

                    the counselling is done in schools where parents are invited to attend the counselling, we also provide some motivation stories of people who suffered from same and made it big in life, like a motivational session. 
                </p>
        </div>

        <div class="ourapp-blocks" id="training-img-3">
            <img src="https://counselingchennai.com/wp-content/uploads/2019/01/coursesfamily.jpg" alt="">
        </div>

    </div >

    <h2 class="text-center" style="margin-top: 2rem; margin-bottom: 2rem; opacity: 0.4;">treatment and development</h2>

    <div class="ourapp-row">

        <div class="ourapp-blocks" id="training-img-4">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRcvI0xmYvR0Ii-QSKp3HQ_En68KSS6sxW80x9_S0FSs9lpdzw_JA&s" alt="">
        </div>

        <div class="ourapp-blocks">
                <p>
                    some cases of speech impairment are often curable with minor/major surgeries or any other treatment. We provide adequate education on how those impairment are cured and the provide the best doctors and any other help whether it be financial or any other.

                    some cases need proper care and nourishment, so our volunteer teach parents how to take proper care ,like oral exercises , breathing exercises, etc. 

                    we also teach them how to use assistive technologies for further improvement and for some people with our app Talkitt which would help them communicating with much ease.
                </p>
        </div>

    </div>
</div>
</div>

<%- include("../partials/footer")-%>