#header-image{
    max-height: 40rem;    
}
#header-image img{
    max-height: 40rem;
    width: 100%;    
}
#gift-a-smile{
    position: absolute;
    top: 50%;
    left: 70%;
    
    color: aliceblue;
    font-size: 4rem;
    font-family: 'Zhi Mang Xing', cursive;
    
}
#header-image a{
    position: absolute;
    top: 70%;
    left: 70%;
    
}
#aboutus{
    background: #D3CCE3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E9E4F0, #D3CCE3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E9E4F0, #D3CCE3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.aboutus-col{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    height: 20rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}
.aboutus-col img{
    margin-top: 2rem;
    height: 10rem;
    width: 60%;
    border-radius: 50%;
}
.aboutus-button{
    outline: none;
    border: none;
    cursor: pointer;
    display: block;
    position: relative;
   background-color: rgb(95, 236, 194);
    font-size: 18px;
    font-weight: 500;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 10px 20px;
    margin: 0 auto;
    border-radius: 20px;
}
.aboutus-button,.aboutus-button:hover{
    color: white;
    text-decoration: none;
}
.flipInY{
    animation-duration: 1.5s;
}

#ourwork{
    background: #396afc;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2948ff, #396afc);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2948ff, #396afc); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding-top: 4rem;
    padding-bottom: 4rem;
    opacity: 0.9;
}

.ourwork-col{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color:transparent;
    height: 20rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}
.ourwork-col img{
    height: 10rem;
    width: 100%;
    border-radius: 50%;
}
.ourwork-col strong{
    font-size: 2rem;
    color: white;
    font-family: 'Zhi Mang Xing', cursive;
font-family: 'Indie Flower', cursive;
}

.gift-a-smile{
    font-size: 0.5rem;
}

@media screen and (max-width:500px){
    #header-image span{
        position: absolute;
        top: 50%;
        left: 70%;
        transform: translate(-50%, -50%);
        color: aliceblue;
        font-size: 2em;
        font-family: 'Zhi Mang Xing', cursive;
        
    }
}