.headerimages{
    padding-left: 50px;
}
.headerimages > #myimg{
    margin: 15px;
    height: 80px;
    width: 80px;
}
#myimg2{
    width: 100px;
    height: 100px;
}
button.navbar-toggler{
    color: black;
}
.nav-item{
    font-size: 18px;
    font-weight: 500;
    margin: 6px;
}
.navul1,.navul2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
}
#foot1 > div{
    padding: 10px 20px;
}
#foot1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #000100;
    color: antiquewhite;
}
#foot2ul>li{margin:4px 5px;}
#foot2ul{margin-top: 3px;}
#foot2,#foot2ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #d3d3d3;
    list-style-type: none;
}
.forumjumbo{
    background-image: url("https://www.wfh.org/globalforum/en/image/slider-home/gf_slider_bg.jpg");
    background-size: cover;
    color: #fff;
}
.j3{
    width: 50px;
}
.j2{
border: 3px solid blue;
border-radius: 10%;
}
.congress{
    width:60%;
}
.fa.fa-linkedin-square{
    color:  #0976b4;
}
.fa.fa-facebook-square{
    color:#3b5998;
}
.fa.fa-twitter-square{
    color:#258ddd;
}
.fa.fa-instagram {
    color: transparent;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background-clip: text;
    -webkit-background-clip: text;
  }

  html {
    scroll-behavior: smooth;
  }