<%- include("../partials/header")-%>

<h1>careers</h1>
<p>
    Be part of a team that mobilises millions of people across India and the world to seek political support for our future, through our children. Use your professional skills to restore to Indian children their basic right to a childhood.

</p>
<h3>
    How would you like to
</h3>
<p>
    Manage a brand that supports funding to grassroots-level projects across 23 Indian states.
    Initiate and negotiate strategic alliances with media, corporate brands, start-ups and joint-ventures in key overseas markets.
    Build, develop and motivate a team of professionals.
    Shape government policy.
    Mould the values of a new generation of Indians.
</p>

<a href="aboutus/employ">Browse the current openings</a>
<%- include("../partials/footer")-%>