

<footer>
    <section id="foot1">
        <div>
            <h4>Find Us On Social Media:</h4>
            <ul>
                <a href="#"><i class="fa fa-twitter-square fa-3x"></i></a>
                <a href="https://www.facebook.com/OfficialTHENX/"><i class="fa fa-facebook-square fa-3x"></i></a>
                <a href="#"><i class="fa fa-instagram fa-3x"></i></a>
                <a href="https://www.youtube.com/user/TheMiamiTrainer"><i class="fa fa-linkedin-square fa-3x" aria-hidden="true"></i></a> 
            </ul>
        </div>
        <div>
            <h4>Contact Us:</h4>
            <p>1425, boul. René-Lévesque Ouest<br>Bureau 1200 <br>
                Montréal, Québec H3G 1T7 Canada<br> Tel.: +1 (514) 875-7944<br>Email: awaaz@gmail.com</p>
        </div>
    </section>
    <section id="foot2">
       <div><h5><Awaaz class="fa fa-copyright" aria-hidden="true">Awaaz Foundation 2020</h5></div>
       <div>
           <ul id="foot2ul">
            <li><a href="/web/disclaimer">Disclaimer</a></li>

               <li><a href="/web/privacy-policy">Privacy Policy</a></li>
               <li><a href="/web/fraud-alert">Fraud Alert</a></li>

               <li><a href="/contacts">Contact</a></li>
              
           </ul>
       </div>
    </section>
</footer>
<script>
    var checkoutHandler = StripeCheckout.configure({
      key: "pk_test_u2VtG4jV6bgpQfdrEE8xqIVn00yTKeCJ40",
      locale: "auto"
    });
    var button = document.getElementById("buttonCheckoutusd");
    button.addEventListener("click", function(ev) {
      checkoutHandler.open({
        name: "Awaaz Foundation",
        description: "Donation for betterment",
        token: handleToken
      });
    });
    function handleToken(token) {
      fetch("/chargeusd", {
        method: "POST",
        headers: {"Content-Type": "application/json"},
        body: JSON.stringify(token)
      })
      .then(output => {
        if (output.status === "succeeded")
          document.getElementById("shop").innerHTML = "<p>Purchase complete!</p>";
      })
    }
    fetch("/chargeusd", {
      method: "POST",
      headers: {"Content-Type": "application/json"},
      body: JSON.stringify(token)
    })
    .then(response => {
      if (!response.ok)
        throw response;
      return response.json();
    })
    .then(output => {
      console.log("Purchase succeeded:", output);
    })
    .catch(err => {
      console.log("Purchase failed:", err);
    })
    
    ///for inr
    var checkoutHandler = StripeCheckout.configure({
      key: "pk_test_u2VtG4jV6bgpQfdrEE8xqIVn00yTKeCJ40",
      locale: "auto"
    });
    var button = document.getElementById("buttonCheckoutinr");
    button.addEventListener("click", function(ev) {
      checkoutHandler.open({
        name: "Awaaz Foundation",
        description: "Donation for betterment",
        token: handleToken
      });
    });
    function handleToken(token) {
      fetch("/chargeinr", {
        method: "POST",
        headers: {"Content-Type": "application/json"},
        body: JSON.stringify(token)
      })
      .then(output => {
        if (output.status === "succeeded")
          document.getElementById("shop").innerHTML = "<p>Purchase complete!</p>";
      })
    }
    fetch("/chargeinr", {
      method: "POST",
      headers: {"Content-Type": "application/json"},
      body: JSON.stringify(token)
    })
    .then(response => {
      if (!response.ok)
        throw response;
      return response.json();
    })
    .then(output => {
      console.log("Purchase succeeded:", output);
    })
    .catch(err => {
      console.log("Purchase failed:", err);
    })
    
    
      </script>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


</html>