<%- include("../partials/header")-%>
<h1>Corporate Partnerships</h1>

<h3>
    Why Partner with Awaaz
</h3>
<p>
    We have flexible options available that not only help us create customized proposals for you but also enhance your brand and engage your employees.
    
    We ensure quick turnaround times and are 100% compliant under the CSR Act norms.
    
    We are transparent about our financials. For over a decade we have an annual external audit system in place and our Annual Reports are available on our website.
    
    We manage and monitor our projects stringently to ensure the most efficient utilisation of funds. Projects are also regularly assessed by professionals to measure progress against plans. Meetings with project staff, parents, children and community groups help us gauge progress.

</p>

<h3>Adopt a Project</h3>
<p>
    CRY acts as a link between you and your selected project. We are responsible for monitoring the project and also providing crucial inputs like training, technical expertise, build capacity, information on child rights and their progress, communication and campaign support.

    When you adopt a project, you can choose to support an entire project or just a part of it, based on its area of focus – like education, health, or its area of work – related to assistive techs, treatment, therapy sessions and so on. Our work extends across issues and geographies and therefore you have the flexibility to pick what is important to you. 
</p>

<h3>Payroll Giving</h3>
<p>
    Your CSR initiative can be a perfect way to engage your employees as well. Awaaz’s Payroll Giving Program offers an efficient way for employees to feel connected to the social cause the organization has taken on. Employees can contribute a certain amount from their monthly salary towards making a social change. Once in place, this is an automatic process and is less time consuming. The organization can also choose to provide a matching grant to encourage employees.
</p>

<h3>Other Ways to Partner</h3>
<p>
    There are many other ways you can partner with Awaaz. You can sponsor events, take on the cost of certain expenses or Awaaz can co create a partnership option just for you. Our teams would be happy to speak to you at your convenience.
</p>
<a href="/contacts"></a>
<%- include("../partials/footer")-%>