<%-include("./header.ejs")-%>
<div class="paywhole">
 <div class="container payx">
  <div class="donate mt-3">
    <h2> Donate</h2>
    <p>
      Donations to the society are exempted u/s 80 G of the Income Tax Act as per order no DIT(E)/2011-2012/S-1828/3664 dated 16.11.2011 of the Director of Income Tax (Exemptions), Delhi - 110092.

      We are also registered to accept foreign contributions under the Foreign Contribution (Regulation) Act, 1976 vide No. 231650952.

      Our Accounts are maintained in a professional manner by a full-time Secretary and audited annually by a Chartered Accountant. We also have a full-time person to maintain the accounts of Suniye. So if you want to find out where your money has been utilized, you can always contact us directly
    </p>
  </div>

    <div class="pay1 mt-3">
      <h2>Donate By Credit Card</h2>
      <div class="row">
        <div class="col-">
          <h4>Payment in USD</h4>
          <span>Foreign Donations: Please enter the amount in US Dollars</span>
            <div class="form-group">
              <input class="form-control" type="text" name="amount" placeholder="amount is USD">
            </div>
            <div id="shop">
              <button id="buttonCheckoutusd">Checkout</button>
            </div>
        </div>
        <div class="col-">
          <h4>Payment in INR</h4>
          <span>Foreign Donations: Please enter the amount in indian rupees</span>
            <div class="form-group">
              <input class="form-control" type="text" name="amount" placeholder="amount is inr">
            </div>
            <div id="shop">
              <button id="buttonCheckoutinr">Checkout</button>
            </div>
        </div>
      </div>
    </div>

<div class="pay2 mt-3">
    <h2>Donate By Bank Transfer</h2>
    <p>
      Please send your donations to the following bank account: <br>
<strong>
      Name of bank: Syndicate Bank, Sector 23, H.K.Puram, New Delhi-110022 <br>
      Account Title: Awaaz  <br>
      Account Number: 90562010046606 <br>
      Type of Account: Savings Bank <br>
      IFSC Code: SYNB 0009009 <br>
      Our Address: Opposite House No. 828, Type 1 Quarters, Sector 23, H.K.Puram, New Delhi - 110022, India 
      </strong>
    </p>

    <h2>Donate By Cheque</h2>
    <p>

      Please <strong><a href="https://docs.google.com/uc?export=download&id=1Eo-SHbwCb4PknMHh0f4VSchOa_hRLWoc">download</a></strong> the Donation Form, fill it up and mail it with your crossed cheque to: <br>

      The Secretary, Awaaz, Opposite House No. 828, Type 1 Quarters, Sector 23, H.K. Puram, New Delhi-110022, India.
    </p>
</div>
</div>
</div>
    <%-include("./footer.ejs")-%>
