<%- include("../partials/header")-%>
<h1>
    Volunteer with Awaaz
</h1>
<p>
    “Be the change you want to see in the world.”
                                                -Mahatma Gandhi
    Thousands of underprivileged children with speech imapairment in India are suffering on thier own no one to help them . They are unable to complete their education, are subjected to no self-Confidence and no-motivation, and feels outcasted from society often. Since its inception, Awaaz has been working towards tackling these issues. An inevitable contribution to this cause comes from the persistent efforts of the Awaaz volunteers. These self-motivated individuals understand the need to get involved with this cause. Awaaz offers a diverse range of volunteering opportunities. Through these, you can not only contribute towards the betterment of children suffering from speech disabilities, but also undergo a transformational journey for yourselves!
</p>
<a href="">Volunteer policy</a>
<a href="">Volunteer Newsletter</a>
<a href="">Internship application form</a>
<a href="/contacts">Contacts us</a>

<div class="container">
    <h4>Become The Next Changemaker</h4>
    <div class="row m-4">
        <div class="col-lg-4 img-responsive volunbutton">
            <a href="/support/volunteer"><img  title="Volunteer"src="https://i.ytimg.com/vi/atxbASwIlJo/maxresdefault.jpg" alt=""></a>
            <div class="centered ">Child Right Leader Program</div>
        </div>
        <div class="col-lg-4 img-responsive volunbutton ">
            <a href="/support/volunteer"><img   title="Volunteer"src="https://d68b3152cf5d08c2f050-97c828cc9502c69ac5af7576c62d48d6.ssl.cf3.rackcdn.com/includes/img/cms/site-images/resized/2d2d713-kingston-university-f1001a3-kingstonuniversityvolunteerstea.jpg" alt=""></a>
            <div class="centered">Internships</div>
        </div>
        <div class="col-lg-4 img-responsive volunbutton">
            <a href="/support/volunteer"><img  title="Volunteer"src="https://d68b3152cf5d08c2f050-97c828cc9502c69ac5af7576c62d48d6.ssl.cf3.rackcdn.com/includes/img/cms/site-images/resized/732111e47e6-kingston-university-b31e841a13f-.jpg" alt=""></a>
            <div class="centered">Virtual volunteering</div>
        </div>
    </div>
    <div class="row m-4">
        <div class="col-lg-4 img-responsive volunbutton">
            <a href="/support/volunteer"><img  title="Volunteer"src="https://images.financialexpress.com/2018/12/food-1.jpg" alt=""></a>
            <div class="centered">Volunteer Locally</div>
        </div>
        <div class="col-lg-4 img-responsive volunbutton">
            <a href="/support/volunteer"><img   title="Volunteer"src="https://www.worldvision.in/CMSAdmin/Uploads/28102016045204284ingoodcompany.jpg" alt=""></a>
            <div class="centered">Raise Fund for Awaaz</div>
        </div>
        <div class="col-lg-4 img-responsive volunbutton">
            <a href="/support/volunteer"><img  title="Volunteer"src="https://www.ankindia.org/images/who-we.jpg" alt=""></a>
            <div class="centered">Others</div>
        </div>
    </div>
</div>
<%- include("../partials/footer")-%>