<%- include("../partials/header")-%>

<h1>Awards</h1>
<p>
   our work and organization is powered by dedicated individuals who believe that together we can bring the a better future and life for the people who feels disconnected from this world.
</p>
<p>
    The Awaaz Awards Program recognizes local and international volunteers who give generously, and in so many ways, to our community. We believe that every member of the community gives back in some way.

The Awaaz Awards highlight the achievements of those who have made a significant impact on those living with a speech disabilities. The awards celebrate and honour the dedication they all display, and their attributes that inspire us to reach higher and achieve more on behalf of our community.
</p>
<h4>The Awaaz Volunteer Award</h4>
<p>
    The Awaaz Volunteer Awards
    The WFH Volunteer Awards were created to recognize the outstanding leadership provided by our volunteers who help further our vision of Treatment for All.
</p>

<h4>The Awaaz Program and Research Awards</h4>

<h4>The Awaaz Partner Awards</h4>


<%- include("../partials/footer")-%>