<%- include("../partials/header")-%>

<h1>Employment Opportunities</h1>

<p>
    The Awaaz is an international not-for-profit organization that provides global leadership to save and improve lives for people with speech disorder. Established in india in 1999, the Awaaz works with national member organizations in 12 countries as well as through a network of international volunteers and healthcare providers to improve and sustain care for those living with speech impairment around the world.

</p>

<h4>Open positions</h4>

<p>Data & Research Manager

Data & Research Manager
Report to:  Director of Research and Public Policy
Type of position:   Full-time, 1-year contractual (renewable)
Location:   Awaaz Headquarters, delhi
Posting Date:December 5, 2019
Start Date:As soon as possible (latest February 1, 2020)

</p>
<p>
The Awaaz is presently seeking a highly knowledgeable and effective, self-motivated, results-oriented Data and Research Manager - contract 1 yr (renewable), to manage multiple international data collection efforts.
</p>


<%- include("../partials/footer")-%>