<%- include("../partials/header")-%>

<div class="container">
    <div id="team-head" style="background-color: rgb(255, 221, 170);">
        <h1>Employment Opportunities</h1>
    </div>
    <div class="employ-content">
        <p>
            The Awaaz is an international not-for-profit organization that provides global leadership to save and improve lives for people with speech disorder. Established in india in 1999, the Awaaz works with national member organizations in 12 countries as well as through a network of international volunteers and healthcare providers to improve and sustain care for those living with speech impairment around the world.
        </p>

        <h4 class="text-center mt-4 " style="background-color: rgb(255, 221, 170); height: 2rem; ">Open positions</h4>

        <div id="table-employ">
        <table>
            <tr>
                <p>Data & Research Manager
            </tr>
            <tr>
                <td>Report to:</td>
                <td>Director of Research and Public Policy</td>
            </tr>
            <tr>
                <td>Type of position:</td>
                <td>Full-time, 1-year contractual (renewable)</td>
            </tr>
            <tr>
                <td>Location:</td>
                <td>Awaaz Headquarters, delhi</td>
            </tr>
            <tr>
                <td>Posting Date:</td>
                <td>December 5, 2019</td>
            </tr>
            <tr>
                <td>Start Date:</td>
                <td>As soon as possible (latest February 1, 2020)</td>
            </tr>

            </p>
            <p>
            The Awaaz is presently seeking a highly knowledgeable and effective, self-motivated, results-oriented Data and Research Manager - contract 1 yr (renewable), to manage multiple international data collection efforts.
            </p>
        </table>
        </div>
    </div>
</div>

<%- include("../partials/footer")-%>