<%- include("../partials/header")-%>
<div class="our-team-body">
<div class="container" style="background-color: rgb(189, 206, 206);">
    <div id="team-head" >
        <h1>Our team</h1>
    </div>
    <div class="row">
        <div class="col-lg-4">

            <div class="card" style="width: 18rem;">
                <img src="https://images.unsplash.com/photo-1575043627654-ef061bd7700f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Strategic & Community Partnerships</h5>
                  <p class="card-text">philanthrophy@awaaz.org</p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">
                      <ul>   
                      <li>Jennifer Laliberté</li>
                      <li>Director, Strategic & Community Partnerships</li>
                      </ul>
                  </li>
    
                  <li class="list-group-item">
                      <ul><li>Marlene Spencer</li>
                        <li>Corporate Relations Manager</li>
                      </ul> 
                  </li>

                </ul>
                <div class="card-body">
                  <a href="/contacts" class="card-link">contacts</a>
                </div>
              </div>

        </div>
        <div class="col-lg-4">

            <div class="card" style="width: 18rem;">
                <img src="https://images.unsplash.com/photo-1563260324-5ebeedc8af7c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=967&q=80" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Humantarian aid</h5>
                  <p class="card-text">humantarianaid@awaaz.org</p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">
                      <ul>
                        <li>Assad E. Haffar</li>
                        <li>Medical & Humanitarian Aid Director</li>
                      </ul>
                  </li>
                  <li class="list-group-item">
                      <ul>   
                        <li>Georgios Ampartzidis</li>
                        <li>Logistics Manager - Humanitarian Aid</li>
                      </ul>
                  </li>
                </ul>
                <div class="card-body">
                  <a href="/contacts" class="card-link">contacts</a>
                </div>
              </div>

        </div>
        <div class="col-lg-4">

            <div class="card" style="width: 18rem;">
                <img src="https://images.unsplash.com/photo-1503676260728-1c00da094a0b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1009&q=80" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Programs & Education</h5>
                  <p class="card-text">program@awaaz.org</p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">
                      <ul>
                      <li>Luisa Durante</li>
                      <li>Head, Programs & Education - interim</li>
                      </ul>
                    </li>
                    <li class="list-group-item">
                        <ul>
                        <li>Fiona Robinson</li>
                        <li>Education Materials Manager</li>
                        </ul>
                      </li>
                </ul>
                <div class="card-body">
                  <a href="/contacts" class="card-link">contacts</a>
                </div>
              </div>

        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">

            <div class="card" style="width: 18rem;">
                <img src="https://images.unsplash.com/photo-1535320903710-d993d3d77d29?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80 class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Finance & Administration</h5>
                  <p class="card-text">finance@awaaz.org</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <ul>
                        <li>Irene Bitharas</li>
                        <li>Director, Finance & Administration</li>
                        </ul>
                      </li>
                      <li class="list-group-item">
                        <ul>
                        <li>Elena Galstian</li>
                        <li>Head, Accounting & Financial Planning</li>
                        </ul>
                      </li>
                </ul>
                <div class="card-body">
                  <a href="/contacts" class="card-link">contacts</a>
                </div>
              </div>

        </div>
        <div class="col-lg-4">

            <div class="card" style="width: 18rem;">
                <img src="https://images.unsplash.com/photo-1555952494-efd681c7e3f9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Information Technology</h5>
                  <p class="card-text">helpdesk@awaaz.org</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <ul>
                        <li>Linda Lovegrove</li>
                        <li>Head, Information Technologies</li>
                        </ul>
                      </li>
                      <li class="list-group-item">
                        <ul>
                        <li>Annie Luong</li>
                        <li>Database Coordinator</li>
                        </ul>
                      </li>
                </ul>
                <div class="card-body">
                  <a href="/contacts" class="card-link">contacts</a>
                </div>
              </div>
        </div>
        <div class="col-lg-4">

            <div class="card" style="width: 18rem;">
                <img src="https://images.unsplash.com/photo-1562577308-9e66f0c65ce5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=967&q=80" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Marketing & Communications</h5>
                  <p class="card-text">marketing@awaaz.org</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <ul>
                        <li>Neha Suchak</li>
                        <li>Director, Marketing & Communications</li>
                        </ul>
                      </li>
                      <li class="list-group-item">
                        <ul>
                        <li>Erika Laincy</li>
                        <li>Marketing & Communications Manager</li>
                        </ul>
                      </li>
                </ul>
                <div class="card-body">
                  <a href="/contacts" class="card-link">contacts</a>
                </div>
              </div>

        </div>
    </div>
</div>
</div>

<%- include("../partials/footer")-%>