<%- include("../partials/header")-%>
<h1>Our team</h1>

<h4>Strategic & Community Partnerships</h4>
<p>
    philanthrophy@awaaz.org

    Jennifer Laliberté
    Director, Strategic & Community Partnerships / WFH USA National Directo

    Marlene Spencer
    Corporate Relations Manage
</p>

<h4>Humantarian aid</h4>
<p>
    humantarianaid@awaaz.org

    Assad E. Haffar
    Medical & Humanitarian Aid Director

    Georgios Ampartzidis
    Logistics Manager - Humanitarian Aid
</p>
<h4>Programs & Education</h4>
<p>
    program@awaaz.org

    Luisa Durante
    Head, Programs & Education - interim

    Fiona Robinson
    Education Materials Manager
</p>
<h4>Finance & Administration</h4>
<p>
    finance@awaaz.org
    Irene Bitharas, CPA, CGA
    Director, Finance & Administration

    Johanne Paul
    Administrative Assistant

    Accounting
    Elena Galstian
    Head, Accounting & Financial Planning

    Gayane Avagyan
    Accounting Manager
</p>
<h4>Information Technology </h4>
<p>
    helpdesk@awaaz.in

    Linda Lovegrove
    Head, Information Technologies

    Annie Luong
    Database Coordinator
</p>
<h4>Marketing & Communications</h4>
<p>
    marketing@awaaz.org
    
    Neha Suchak
    Director, Marketing & Communications

    Erika Laincy
    Marketing & Communications Manager
</p>



<%- include("../partials/footer")-%>