<%- include("../partials/header")-%>
<h1>Speech Impairments</h1>

<h4>Apraxia of Speech (AOS)</h4>
<p>
    Apraxia of Speech (AOS) happens when the neural pathway between the brain and a person’s speech function (speech muscles) is lost or obscured. The person knows what they want to say – they can even write what they want to say on paper – however the brain is unable to send the correct messages so that speech muscles can articulate what they want to say, even though the speech muscles themselves work just fine.
</p>
<h4>Stuttering – Stammering</h4>
<p>
    Stuttering, also referred to as stammering, is so common that everyone knows what it sounds like and can easily recognize it. Everyone has probably had moments of stuttering at least once in their life. The National Institute on Deafness and Other Communication Disorders estimates that three million Americans stutter, and reports that of the up-to-10-percent of children who do stutter, three-quarters of them will outgrow it. It should not be confused with cluttering.
</p>
<h4>Dysarthria</h4>
<p>
    Dysarthria is a symptom of nerve or muscle damage. It manifests itself as slurred speech, slowed speech, limited tongue, jaw, or lip movement, abnormal rhythm and pitch when speaking, changes in voice quality, difficulty articulating, labored speech, and other related symptoms.

It is caused by muscle damage, or nerve damage to the muscles involved in the process of speaking such as the diaphragm, lips, tongue, and vocal chords.
</p>
<h4>Lisping</h4>
<p>
    A lay term, lisping can be recognized by anyone and is very common.

Speech language pathologists provide an extra level of expertise and can make sure that a lisp is not being confused with another type of disorder such as apraxia, aphasia, impaired development of expressive language, or a speech impediment caused by hearing loss.
</p>
<h4>Spasmodic Dysphonia</h4>
<p>
    Spasmodic Dysphonia (SD) is a chronic long-term disorder that affects the voice. It is characterized by a spasming of the vocal chords when a person attempts to speak and results in a voice that can be described as shaky, hoarse, groaning, tight, or jittery. It can cause the emphasis of speech to vary considerably.
</p>
<h4>Cluttering</h4>
<p>
    Have you ever heard people talking about how they are smart but also nervous in large groups of people, and then self-diagnose themselves as having Asperger’s? You might have heard a similar lay diagnosis for cluttering. This is an indication of how common this disorder is as well as how crucial SLPs are in making a proper diagnosis.
</p>

<h4>Muteness – Selective Mutism</h4>
<p>
    There are different kinds of mutism, and here we are talking about selective mutism. This used to be called elective mutism to emphasize its difference from disorders that caused mutism through damage to, or irregularities in, the speech process.
</p>
<h4>Aphasia</h4>
<p>
    The National Institute on Neurological Disorders and Stroke estimates that one million Americans have some form of aphasia.

     Aphasia is a communication disorder caused by damage to the brain’s language capabilities. Aphasia differs from apraxia of speech and dysarthria in that it solely pertains to the brain’s speech and language center
</p>
<h4>Speech Delay – Alalia</h4>
<p>
    A speech delay, known to professionals as alalia, refers to the phenomenon when a child is not making normal attempts to verbally communicate. There can be a number of factors causing this to happen, and that’s why it’s critical for a speech language pathologist to be involved.
</p>

<h4>Issues Related to Autism</h4>
<p>
    While the autism spectrum itself isn’t a speech disorder, it makes this list because the two go hand-in-hand more often than not.

The Centers for Disease Control and Prevention (CDC) reports that one out of every 68 children in our country have an autism spectrum disorder. And by definition, all children who have autism also have social communication problems.
</p>



<%- include("../partials/footer")-%>