<%- include("../partials/header")-%>

<div id="speech-body">
    <div class="jumbotron jumbotron-fluid jumbotron-speech">
        <h1 class="mx-5">Speech Impairments</h1>
    </div>

<div class="speech-content">
    <div class="container" style="background-color: ivory; padding-top: 0.2rem;">
        <div class="speech-heading">
            <h4>Apraxia of Speech (AOS)</h4>
        </div>
        <div class="speech-desc">
            <p>
                Apraxia of Speech (AOS) happens when the neural pathway between the brain and a person’s speech function (speech muscles) is lost or obscured. The person knows what they want to say – they can even write what they want to say on paper – however the brain is unable to send the correct messages so that speech muscles can articulate what they want to say, even though the speech muscles themselves work just fine.
            </p>
            <p>        
                There are different levels of severity of AOS, ranging from mostly functional, to speech that is incoherent. And right now we know for certain it can be caused by brain damage, such as in an adult who has a stroke. This is called Acquired AOS.
            </p>
            <p>        
                However the scientific and medical community has been unable to detect brain damage – or even differences – in children who are born with this disorder, making the causes of Childhood AOS somewhat of a mystery. There is often a correlation present, with close family members suffering from learning or communication disorders, suggesting there may be a genetic link.

            </p>
        </div>

        <div class="speech-heading">
            <h4>Stuttering – Stammering</h4>
        </div>
        <div class="speech-desc">
            <p>
                Stuttering, also referred to as stammering, is so common that everyone knows what it sounds like and can easily recognize it. Everyone has probably had moments of stuttering at least once in their life. The National Institute on Deafness and Other Communication Disorders estimates that three million Americans stutter, and reports that of the up-to-10-percent of children who do stutter, three-quarters of them will outgrow it. It should not be confused with cluttering.
            </p>
            <p>
                Most people don’t know that stuttering can also include non-verbal involuntary or semi-voluntary actions like blinking or abdominal tensing (tics). Speech language pathologists are trained to look for all the symptoms of stuttering, especially the non-verbal ones, and that is why an SLP is qualified to make a stuttering diagnosis.
            </p>
            <p>
                The earliest this fluency disorder can become apparent is when a child is learning to talk. It may also surface later during childhood. Rarely if ever has it developed in adults, although many adults have kept a stutter from childhood.
            </p>
        </div>

        <div class="speech-heading">
            <h4>Dysarthria</h4>
        </div>
        <div class="speech-desc">
            <p>
                Dysarthria is a symptom of nerve or muscle damage. It manifests itself as slurred speech, slowed speech, limited tongue, jaw, or lip movement, abnormal rhythm and pitch when speaking, changes in voice quality, difficulty articulating, labored speech, and other related symptoms.
            </p>
            <p>    
                It is caused by muscle damage, or nerve damage to the muscles involved in the process of speaking such as the diaphragm, lips, tongue, and vocal chords.
            </p>
            <p>
                Because it is a symptom of nerve and/or muscle damage it can be caused by a wide range of phenomena that affect people of all ages. This can start during development in the womb or shortly after birth as a result of conditions like muscular dystrophy and cerebral palsy. In adults some of the most common causes of dysarthria are stroke, tumors, and MS.
            </p>
        </div>

        <div class="speech-heading">
            <h4>Lisping</h4>
        </div>
        <div class="speech-desc">
            <p>
                A lay term, lisping can be recognized by anyone and is very common.

                Speech language pathologists provide an extra level of expertise and can make sure that a lisp is not being confused with another type of disorder such as apraxia, aphasia, impaired development of expressive language, or a speech impediment caused by hearing loss.
            </p>
            <p>
                SLPs are also important in distinguishing between the five different types of lisps. Most laypersons can usually pick out the most common type, the interdental/dentalised lisp. This is when a speaker makes a “th” sound when trying to make the “s” sound. It is caused by the tongue reaching past or touching the front teeth.
            </p>
            <p>
                Because lisps are functional speech disorders, SLPs can play a huge role in correcting these with results often being a complete elimination of the lisp. Treatment is particularly effective when implemented early, although adults can also benefit.
            </p>
        </div>

        <div class="speech-heading">
            <h4>Spasmodic Dysphonia</h4>
        </div>
        <div class="speech-desc">
            <p>
                Spasmodic Dysphonia (SD) is a chronic long-term disorder that affects the voice. It is characterized by a spasming of the vocal chords when a person attempts to speak and results in a voice that can be described as shaky, hoarse, groaning, tight, or jittery. It can cause the emphasis of speech to vary considerably.
            </p>
            <p>
                SLPs will most often encounter this disorder in adults, with the first symptoms usually occurring between the ages of 30 and 50. It can be caused by a range of things mostly related to aging, such as nervous system changes and muscle tone disorders.
            </p>
            <p>
                t’s difficult to isolate vocal chord spasms as being responsible for a shaky or trembly voice, so diagnosing SD is a team effort for SLPs that also involves an ear, nose, and throat doctor (otolaryngologist) and a neurologist.
            </p>
        </div>

        <div class="speech-heading">
            <h4>Cluttering</h4>
        </div>
        <div class="speech-desc">
            <p>
                Have you ever heard people talking about how they are smart but also nervous in large groups of people, and then self-diagnose themselves as having Asperger’s? You might have heard a similar lay diagnosis for cluttering. This is an indication of how common this disorder is as well as how crucial SLPs are in making a proper diagnosis.
            </p>
            <p>
                A fluency disorder, cluttering is characterized by a person’s speech being too rapid, too jerky, or both. To qualify as cluttering, the person’s speech must also have excessive amounts of “well,” “um,” “like,” “hmm,” or “so,” (speech disfluencies), an excessive exclusion or collapsing of syllables, or abnormal syllable stresses or rhythms.
            </p>
        </div>

        <div class="speech-heading">
            <h4>Muteness – Selective Mutism</h4>
        </div>
        <div class="speech-desc">
            <p>
                There are different kinds of mutism, and here we are talking about selective mutism. This used to be called elective mutism to emphasize its difference from disorders that caused mutism through damage to, or irregularities in, the speech process.
            </p>
            <p>
                Selective mutism is related to psychology. It appears in children who are very shy, who have an anxiety disorder, or who are going through a period of social withdrawal or isolation. These psychological factors have their own origins and should be dealt with through counseling or another type of psychological intervention.
            </p>
        </div>

        <div class="speech-heading">
            <h4>Aphasia</h4>
        </div>
        <div class="speech-desc">
            <p>
                The National Institute on Neurological Disorders and Stroke estimates that one million Americans have some form of aphasia.

                Aphasia is a communication disorder caused by damage to the brain’s language capabilities. Aphasia differs from apraxia of speech and dysarthria in that it solely pertains to the brain’s speech and language center
            </p>
            <p>
                As such anyone can suffer from aphasia because brain damage can be caused by a number of factors. However SLPs are most likely to encounter aphasia in adults, especially those who have had a stroke. Other common causes of aphasia are brain tumors, traumatic brain injuries, and degenerative brain diseases.
            </p>
        </div>

        <div class="speech-heading">
            <h4>Speech Delay – Alalia</h4>
        </div>
        <div class="speech-desc">
            <p>
                A speech delay, known to professionals as alalia, refers to the phenomenon when a child is not making normal attempts to verbally communicate. There can be a number of factors causing this to happen, and that’s why it’s critical for a speech language pathologist to be involved.
             </p>
            <p>
                The are many potential reasons why a child would not be using age-appropriate communication. These can range anywhere from the child being a “late bloomer” – the child just takes a bit longer than average to speak – to the child having brain damage. It is the role of an SLP to go through a process of elimination, evaluating each possibility that could cause a speech delay, until an explanation is found.
            </p>
        </div>

        <div class="speech-heading">
            <h4>Issues Related to Autism</h4>
        </div>
        <div class="speech-desc">
            <p>
                While the autism spectrum itself isn’t a speech disorder, it makes this list because the two go hand-in-hand more often than not.

                The Centers for Disease Control and Prevention (CDC) reports that one out of every 68 children in our country have an autism spectrum disorder. And by definition, all children who have autism also have social communication problems.
            </p>
            <p>
                Speech-language pathologists are often a critical voice on a team of professionals – also including pediatricians, occupational therapists, neurologists, developmental specialists, and physical therapists – who make an autism spectrum diagnosis.

In fact, the American Speech-Language Hearing Association reports that problems with communication are the first detectable signs of autism. That is why language disorders – specifically disordered verbal and nonverbal communication – are one of the primary diagnostic criteria for autism.
            </p>
        </div>
    </div>
</div>
</div>
<%- include("../partials/footer")-%>