<%- include("../partials/header")-%>
<div id="vision-body">
    <div class="jumbotron jumbotron-fluid jumbotron-vision">
        <h1 class="mx-5">Vision and mission</h1>
    </div>
    <div class="vision-content">
            <div class="section-1">
                <h4>The awaaz deeply believes that where you live, who you are should not determine your access to care and treatment 
                    for any kind of speech disability.
                </h4>
            </div>
            <div class="section-2">    
                <p>
                    We work to ensure every person⁠—including those living with Apraxia of Speech (AOS) and Dysarthria, those with rare factor deficiencies, Stuttering – Stammering,⁠Lisping,Spasmodic Dysphonia,Aphasia—have access to world-class care and recognition of their condition. Our corporate partners, donors, and volunteers all share this belief and we thank them for their past and ongoing contributions.
                </p>
                <img src="https://www.pngrepo.com/download/138/charity.png" alt="">
            </div>
            <div class="section-3">
                <p >
                    the reality is that the people having sppech impairment does not recieve adequate level of care, whether it be in case of speech therapies, diagnosis or treatment. Our organization helps people who are suffering from any kind of speech impairment and help them to gain all the lost confidence upon themselves , keep providing them sessions on speech therapies , and providing assisitive technologies who suffering from critical cases of apraxia of speech(AOS). We as an organization with the help of our volunteers conducts events , gather funds from people who are wiling to donate to the cause, and provide overall awareness to all the section of the community.      
                </p>
            </div>
            <div class="section-4">
                <img src="https://i.ya-webdesign.com/images/globe-transparent-png-2.png" alt="">
                        <p>
                        Awaaz's core mission is to provide latest assistive-technology to make voice recognition technology truly accessible to everyone. Our principal aims are inclusion and independence, and we are committed to helping children and adults around the world communicate freely, spontaneously, and naturally by voice. Through a hybrid of unique statistical modeling and machine learning, our technology will enable tens of millions of people to overcome communication barriers and help them connect with the world. 
                        </p>
            </div>       
    </div>
</div>
<%- include("../partials/footer")-%>
