<%- include("../partials/header.ejs") -%>
<p>
    The information on the Awaaz website is provided for general information purposes only. The Awaaz does not engage in the practice of medicine and under no circumstances recommends particular treatment for specific individuals. For diagnosis or consultation on a specific medical problem, the Awaaz recommends that you contact your physician or local treatment centre. Before administering any products, the Awaaz urges patients to check dosages with a physician or hemophilia centre staff, and to consult the pharmaceutical company's printed instructions.

While every effort has been made to ensure the accuracy of the information on this site, the Awaaz does not guarantee the information is accurate, and is not responsible in any way whatsoever for damages arising out of the use of this website or any of the information contained herein.

Messages posted to Awaaz discussion forums, Facebook, Twitter, and other social media platforms do not represent the opinions of the Awaaz Foundation, its staff, or Board of Directors. The author of a message is solely responsibility for its content. Information posted on Awaaz social networks and platforms should never be a substitute for individualized professional medical advice, even when the author has medical qualifications or is considered an authority. Information posted to a discussion group should not be used to diagnose or treat a specific health problem without consulting a qualified healthcare professional. The Awaaz recommends that you contact your physician or local treatment centre if you have any individual questions or concerns.

References and links to other websites or references to other organizations, products, services, or publications do not constitute endorsement or approval by the Awaaz. The Awaaz is not responsible and assumes no liability for the content of any linked websites.
</p>




<%- include("../partials/footer.ejs") -%>
