<%- include("../partials/header.ejs") -%>
<div class="container">
<h2>Fraud Alert : </h2>
<h4>Unauthorized solicitations - Warning</h4>
<p>
    The Awaaz has been made aware of various correspondences—circulated via e-mail and telephone—coming from individuals
     impersonating Awaaz staff or falsely stating that they are associated with the Awaaz. These correspondences, 
     which may seek to obtain money using the name of someone affiliated with the Awaaz, are fraudulent and come from 
     outside of our organization.

    If you receive a suspicious solicitation, exercise extreme caution. In the case of an email, look at the email address
     to see if it looks suspicious (for example, all Awaaz emails come from awaaz.com).
    
    We are asking you to remain vigilant, and if you have any doubts about the correspondence, please forward the email
     to the Awaaz at <strong>awaaz@gmail.com</strong> or call <strong>+1 514-875-7944</strong>.
</p>
</div>
<%- include("../partials/footer.ejs") -%>