<%- include("../partials/header.ejs") -%>

<h2>Website Privacy Policy</h2>
<p>
    The Awaaz does not collect personally identifying information about you when you visit our site, unless you choose to provide such information to us. 
    Providing such information is strictly voluntary.
    This policy is your guide to how we will handle information we learn about you from your visit to our website.
</p>
 <h4>Use of Text and Images</h4>
<p>
    All information, photographs, graphics, and other material on this website are protected by copyright.
    While users of this website may use the content for personal, non-commercial use, none of the content of this website
    can be modified, translated, transferred or sold, copied, reproduced, published, or distributed, in whole or in part,
    without the prior written consent of the Awaaz. 

The Awaaz encourages the dissemination of its information, and welcomes proposals on the reprinting, redistribution, and
translation of its materials.
</p>
<h4>Use of Links</h4>
<p>
    Throughout our website, we provide links to other servers which may contain information of interest to our readers.
    We take no responsibility for, and exercise no control over, the organizations, views, or accuracy of the information
    contained on other servers. When linking to the Awaaz, we request that you ensure that there are no associated
    connections for commercial purposes. Any official use of the name Awaaz or the use of its logo needs to be approved by
    the Awaaz. If you have a link you'd like us to consider adding to our website, please send an email to awaaz@gmail.com 
    with the subject "Link request."
</p>
<h4>Accessibility</h4>
<p>If you have suggestions on how to make the site more accessible, please contact us at <strong>awaaz@gmail.com</strong>.</p>
<%- include("../partials/footer.ejs") -%>
